[flake8]
max-line-length = 120
exclude = 
    */migrations/*,
    */settings.py,
    djangoenv/*
per-file-ignores =
    */views.py: F401,F811,E712,F841
    */restapis.py: E722
    */models.py: F401
ignore = W292,W293,E722
